$color-primary: rgb(71, 62, 190);
$color-secondary: rgb(115, 105, 246);
$text-light: rgb(221, 234, 255);

.text-light {
    color: rgb(221, 234, 255);
}

.primary-bg {
    background: $color-primary;
}

.page-header {
    @extend .text-light,
    .primary-bg;
    padding: 0 20px 10px 20px;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header-wrapper {
    height: 70px;
}

.landing {
    @extend .primary-bg;
    background: linear-gradient(60deg, $color-primary, $color-secondary);
    height: 80vh;

    .col-1 {
        @extend .text-light;
    }
}

.items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}