$color-secondary: rgb(115, 105, 246);

.tags {
    display: flex;

    .tag {
        margin: 0px 10px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        transition: all .5s;

        &:hover {
            border: 1px solid $color-secondary;
            cursor: pointer;
        }

        .tag-icon {
            width: 20px;
            height: 20px;
        }
    }

    .tag-all {
        background-color: $color-secondary;
        color: #fff;
    }


}