$color-primary: rgb(71, 62, 190);
$color-secondary: rgb(115, 105, 246);
$text-light: rgb(221, 234, 255);

.card {
    transition: all .3s;

    .card-item {
        text-decoration: none;

        .download-btn {
            border: none;
            background-color: $color-secondary;
            color: $text-light;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 2px 4px 3px $text-light;
            outline: none;
        }
    }

    &:hover {
        transform: scale(1.02);
        box-shadow: 4px 4px 6px rgb(231, 231, 231);
        cursor: pointer;
    }
}