$display-1: flex;

.row {
    height: 80vh;
    display: $display-1;
    justify-content: center;
    align-items: center;

    .col-1 {
        width: 50%;
        text-align: center;

        .welcome {
            font-size: 3.2rem;
            font-weight: bold;

            @media screen and (max-width: 965px) {
                font-size: 2.5rem;
            }

            @media screen and (max-width: 768px) {
                font-size: 2rem;
            }
        }

        .title {
            font-size: 2rem;
            letter-spacing: 1px;

            @media screen and (max-width: 965px) {
                font-size: 1.6rem;
            }

            @media screen and (max-width: 768px) {
                font-size: 1.1rem;
            }
        }

        .info {
            letter-spacing: 2px;
            margin-bottom: 30px;

            @media screen and (max-width: 768px) {
                letter-spacing: 1px;
            }
        }

        button {
            background-color: rgb(255, 255, 255);
            color: blueviolet;
            outline: none;
            border: none;
            padding: 15px 30px;
            border-radius: 50px;
            font-size: 18px;
            transition: all 2s;

            &:hover {
                cursor: pointer;
                box-shadow: 2px 2px 3px grey;
                transform: translateY(-3%);
            }
        }

        @media screen and (max-width: 645px) {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 15px 0;
        }

    }

    .col-2 {
        width: 50%;

        img {
            width: 80%;
            // background: #eee;
            border-radius: 30px;
        }

        @media screen and (max-width: 645px) {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 20px 0;
        }
    }

    @media screen and (max-width: 645px) {
        display: block;
    }
}