.landing {
    &__info {
        &-welcome {
            font-size: 3.2rem;
            font-weight: bold;

            @media screen and (max-width: 965px) {
                font-size: 2.5rem;
            }

            @media screen and (max-width: 768px) {
                font-size: 2rem;
            }
        }

        &-title {
            font-size: 1.5rem;
            letter-spacing: 2.5px;

            @media screen and (max-width: 965px) {
                font-size: 1.6rem;
            }

            @media screen and (max-width: 768px) {
                font-size: 1.1rem;
            }
        }

        &-subtitle {
            letter-spacing: 2px;
            color: rgb(223, 222, 222);

            @media screen and (max-width: 768px) {
                letter-spacing: 1px;
            }
        }

        &-action {
            background-color: rgb(255, 255, 255);
            color: blueviolet;
            outline: none;
            border: none;
            padding: 10px 30px;
            border-radius: 50px;
            font-size: 18px;
            transition: all .5s;
        }
    }
}